<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- This is an example file only -->
<plist version="1.0">
<dict>
    <key>apps</key>
    <array>
        <dict>
                <key>name</key>
        <string>jq</string>
                <key>minimum_version</key>
                <string>1.6</string>
            </dict>
            <dict>
        <key>name</key>
                <string>gcc</string>
                <key>minimum_version</key>
                <string>3.5</string>
       </dict>
    </array>
</dict>
</plist>

